#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.u-mob-show {
    display: none;
}

[id^="pointer-"],
[id^="text-box-"],
[id^="text-"] {
    opacity: 0;
}

.always-show {
    display: block !important;
    opacity: 1 !important;
}

.show {
    display: block;
    animation: fade-in 0.2s forwards;
}

.hide {
    display: block;
    animation: fade-out 0.2s forwards;
}

.hide-1 {
    display: none !important;
}

@media screen and (max-width: 479px) {
    .u-mob-show {
        display: block;
    }
    .how_svg.is-mob-hide {
        display: none;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}